.footer__project {
  text-align: center;
  padding: 1rem;
}
@media screen and (max-width: 1024px) {
  .footer__project {
    font-size: 16px;
  }
}

.footer__home {
  text-align: center;
  padding: 1rem;
}
@media screen and (max-width: 1024px) {
  .footer__home {
    font-size: 16px;
  }
}
.footer__home .footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem 0 0;
}
.footer__home .footer__social a {
  padding: 0.5rem;
  color: black;
  background-color: lightgray;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 2rem;
  padding: 0 1rem;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
  border-radius: 5px;
}
header .home a {
  text-decoration: none;
  color: black;
  font-size: 24px;
  position: relative;
  text-decoration: none;
}
header .home a::after {
  content: "";
  width: 0%;
  height: 3px;
  background: crimson;
  position: absolute;
  left: 0;
  bottom: -6px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
header .home a:hover::after {
  width: 100%;
}
header .title__header strong {
  color: crimson;
}
header .header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-size: 25px;
}
header .header__right img {
  border-radius: 50%;
  background-color: crimson;
}
header .nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 3rem;
}
header .nav__menu a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  position: relative;
}
header .nav__menu a::after {
  content: "";
  width: 0%;
  height: 3px;
  background: crimson;
  position: absolute;
  left: 0;
  bottom: -6px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
header .nav__menu a:hover::after {
  width: 100%;
}
@media screen and (max-width: 1024px) {
  header .nav__menu {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 1rem;
  }
}
@media screen and (max-width: 1024px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "JetBrains Mono", monospace;
  scroll-behavior: smooth;
}

::-moz-selection {
  background-color: rgba(220, 20, 60, 0.8);
  color: white;
}

::selection {
  background-color: rgba(220, 20, 60, 0.8);
  color: white;
}

/* Firefox */
::-moz-selection {
  background-color: rgba(220, 20, 60, 0.8);
  color: white;
}

.home__content {
  background: url(/img/common-bg.svg);
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 59.9rem;
  max-height: 80rem;
  gap: 2rem;
}
.home__content h1 {
  font-size: 50px;
  padding: 2rem;
  text-align: center;
}
@media screen and (max-width: 1080px) {
  .home__content h1 {
    font-size: 35px;
  }
}
.home__content .home__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.home__content .home__infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin: 0 10rem;
}
@media screen and (max-width: 1080px) {
  .home__content .home__infos {
    margin: 0 2rem;
  }
}
.home__content .home__cv {
  text-align: center;
  margin: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3rem;
}
.home__content .home__cv a {
  padding: 1rem;
  background-color: rgb(220, 20, 60);
  color: black;
  font-weight: bold;
  text-decoration: none;
  -webkit-box-shadow: 2px 2px 20px;
          box-shadow: 2px 2px 20px;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}
.home__content .home__cv a:first-child {
  padding: 1rem 2.5rem;
}
.home__content .home__cv a:hover {
  scale: 1.1;
}
.home__content .home__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: 0;
}
.home__content .home__social a {
  padding: 1rem;
  background-color: white;
  font-size: 1.5rem;
  color: black;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}
.home__content .home__social a:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
@media screen and (max-width: 1080px) {
  .home__content .home__social {
    display: none;
  }
}
@media screen and (max-width: 1080px) {
  .home__content {
    min-height: 40rem;
  }
}

.about__content {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 12rem 0;
  margin: auto;
}
.about__content .about__title {
  text-align: center;
  padding: 2rem;
  position: relative;
}
.about__content .about__title span {
  color: crimson;
}
.about__content .about__title .p__bar {
  border-bottom: 3px solid crimson;
  width: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: 1rem auto 1rem auto;
}
.about__content .about__infos {
  display: grid;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  gap: 5rem;
  grid-template-columns: 2fr 1fr;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
@media screen and (max-width: 1024px) {
  .about__content .about__infos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
.about__content .about__infos h3 {
  margin-bottom: 1rem;
}
.about__content .about__infos .about__me {
  text-align: justify;
}
.about__content .about__infos .about__me p {
  margin-bottom: 0.5rem;
}
.about__content .about__infos .about__me a {
  text-decoration: none;
  color: crimson;
}
.about__content .about__infos #about__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  background-color: rgb(220, 20, 60);
  padding: 1rem;
  width: 10rem;
  -webkit-box-shadow: 2px 2px 20px;
          box-shadow: 2px 2px 20px;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}
.about__content .about__infos #about__contact a {
  color: black;
  font-weight: bold;
}
.about__content .about__infos #about__contact:hover {
  scale: 1.1;
}
.about__content .about__skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.about__content .about__skill .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.about__content .about__skill .skill {
  background-color: lightgray;
  width: auto;
  height: 3rem;
  padding: 1rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.3rem;
  -webkit-box-shadow: 1px 1px 5px;
          box-shadow: 1px 1px 5px;
  color: rgb(104, 103, 103);
}
@media screen and (max-width: 1024px) {
  .about__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.project__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.project__container img {
  width: 60%;
  max-width: 25rem;
}
.project__container h1 {
  color: crimson;
  text-align: center;
}
.project__container a {
  text-decoration: none;
  padding: 1rem;
  color: black;
  background-color: crimson;
  border-radius: 5px;
  text-align: center;
}
.project__container .bar {
  content: "";
  width: 10rem;
  height: 2px;
  background-color: crimson;
  margin: 2rem auto;
}
.project__container .project__presentation {
  background: url(/img/common-bg.svg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 1rem;
}
.project__container .project__presentation .wrap__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2rem;
}
.project__container .project__presentation .wrap__img img {
  width: 40%;
  border-radius: 1rem;
  height: 15rem;
}
@media screen and (max-width: 1024px) {
  .project__container .project__presentation .wrap__img img {
    height: 8rem;
  }
}
.project__container .project__presentation .presentation__content {
  text-align: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  max-width: 70%;
}
.project__container .rpg__game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}
.project__container .rpg__game img {
  width: 40%;
  border-radius: 1rem;
}
.project__container .rpg__game .rpg__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.project__container .rpg__game .rpg__presentation {
  text-align: justify;
}
.project__container .rpg__game .rpg__presentation h1 {
  text-align: center;
}
.project__container .rpg__game .rpg__presentation .rpg__p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1rem;
}
.project__container .rpg__game .rpg__presentation .rpg__p li {
  margin-left: 2rem;
}
.project__container .first__portfolio {
  background: url(/img/common-bg.svg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  padding-top: 1rem;
}
.project__container .first__portfolio img {
  width: 40%;
  border-radius: 1rem;
  margin-bottom: 1rem;
  min-width: 15rem;
  max-width: 25rem;
}
.project__container .first__portfolio .top__portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}
.project__container .first__portfolio .bot__portfolio {
  text-align: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  max-width: 70%;
  margin-bottom: 5rem;
}
.project__container .first__portfolio .bot__portfolio h1 {
  margin-bottom: 1rem;
}
@media screen and (max-width: 1024px) {
  .project__container {
    font-size: 16px;
  }
  .project__container h1 {
    font-size: 24px;
  }
  .project__container a {
    padding: 0.5rem;
  }
}
.project__container .slide__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.project__container .slide__img img {
  width: 600px;
  height: 300px;
  margin-bottom: 2rem;
  border-radius: 1rem;
}
@media screen and (max-width: 1024px) {
  .project__container .slide__img img {
    width: 300px;
    height: 200px;
  }
}
.project__container .slide__img .slide__link {
  text-align: center;
  margin-bottom: 2rem;
}
.project__container .slide__img .slide__presentation {
  width: 70%;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
}
.project__container .slide__img .slide__presentation p {
  margin-top: 1rem;
}

.main__cv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.main__cv .head__cv {
  padding: 1rem;
  margin: 1rem;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.main__cv .head__cv a {
  color: black;
  text-decoration: none;
  background-color: crimson;
  padding: 1rem;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 5px;
          box-shadow: 1px 1px 5px;
}
.main__cv .head__cv:hover {
  scale: 1.1;
}
.main__cv .content__cv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url(/img/common-bg.svg);
  width: 90vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid grey;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 5px;
          box-shadow: 1px 1px 5px;
}
.main__cv .content__cv .top__cv {
  text-align: center;
  padding: 1rem;
}
.main__cv .content__cv .mid__cv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  padding: 1rem;
}
@media screen and (max-width: 1024px) {
  .main__cv .content__cv .mid__cv {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.main__cv .content__cv .mid__cv .content__left {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 5px;
  border: 2px solid grey;
  padding: 10px;
  -webkit-box-shadow: 1px 1px 5px;
          box-shadow: 1px 1px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
}
@media screen and (max-width: 1024px) {
  .main__cv .content__cv .mid__cv .content__left {
    width: auto;
  }
}
.main__cv .content__cv .mid__cv .content__left img {
  width: 12rem;
  height: 12rem;
}
@media screen and (max-width: 1024px) {
  .main__cv .content__cv .mid__cv .content__left img {
    width: 10rem;
    height: 10rem;
  }
}
.main__cv .content__cv .mid__cv .content__left .skill__cv ul {
  margin-left: 1rem;
}
.main__cv .content__cv .mid__cv .content__left .skill__cv ul li {
  padding: 5px;
}
.main__cv .content__cv .mid__cv .content__left .skill__cv div {
  margin: 2rem 0;
}
.main__cv .content__cv .mid__cv .content__left .skill__cv div h3 {
  color: crimson;
  margin: 1rem 0;
}
.main__cv .content__cv .mid__cv .content__right {
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid grey;
  padding: 10px;
  -webkit-box-shadow: 1px 1px 5px;
          box-shadow: 1px 1px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60%;
}
@media screen and (max-width: 1024px) {
  .main__cv .content__cv .mid__cv .content__right {
    width: auto;
  }
}
.main__cv .content__cv .mid__cv .content__right strong {
  color: crimson;
  text-decoration: underline;
}
.main__cv .content__cv .mid__cv .content__right h3,
.main__cv .content__cv .mid__cv .content__right h2 {
  color: crimson;
  margin: 1rem 0;
}
.main__cv .content__cv .mid__cv .content__right p {
  padding: 1rem;
}