.main__cv {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;

  #cv_header {
    display: flex;
    align-items: center;
  }

  .head__cv {
    padding: 1rem;
    margin: 1rem;
    transition: 0.5s ease;
    display: flex;

    a {
      color: white;
      text-decoration: none;
      background: rgb(6, 119, 144, 0.8);
      padding: 1rem;
      box-shadow: 1px 1px 5px;
      text-align: center;
      @media screen and (max-width: 1024px) {
        font-size: 14px;
        width: 8rem;
      }
    }
    &:hover {
      scale: 1.1;
      @media screen and (max-width: 1024px) {
        scale: 1;
      }
    }
  }

  .content__cv {
    display: flex;
    background: rgb(6, 119, 144, 0.1);
    width: 90vw;
    flex-direction: column;
    justify-content: center;
    border: 2px solid grey;
    border-radius: 5px;
    box-shadow: 1px 1px 5px;
    align-items: center;

    .top__cv {
      text-align: center;
      padding: 1rem;
    }

    .mid__cv {
      display: flex;
      gap: 2rem;
      padding: 1rem;
      justify-content: space-evenly;
      @media screen and (max-width: 1024px) {
        flex-direction: column;
      }

      .content__left {
        background: rgb(6, 119, 144, 0.8);
        color: white;
        border-radius: 5px;
        border: 2px solid grey;
        padding: 10px;
        box-shadow: 1px 1px 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;

        @media screen and (max-width: 1024px) {
          width: auto;
        }

        img {
          width: 12rem;
          height: 12rem;
          @media screen and (max-width: 1024px) {
            width: 10rem;
            height: 10rem;
          }
        }
        .skill__cv {
          ul {
            margin-left: 1rem;
            li {
              padding: 5px;
            }
          }
          div {
            margin: 2rem 0;
            h3 {
              color: white;
              margin: 1rem 0;
            }
          }
        }
      }

      .content__right {
        background-color: white;
        border-radius: 5px;
        border: 2px solid grey;
        padding: 10px;
        box-shadow: 1px 1px 5px;
        display: flex;
        flex-direction: column;
        width: 60%;

        @media screen and (max-width: 1024px) {
          width: auto;
        }
        strong {
          color: crimson;
          text-decoration: underline;
        }

        h3,
        h2 {
          color: rgb(6, 119, 144, 0.8);
          margin: 2rem 0;
        }
        p {
          padding: 1rem;
        }

        ul {
          list-style: none;
          li {
            padding: 1rem;
          }
        }
      }
    }
  }
}
