.menuProject {
  display: none;
}

.project__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: 16px;

  img {
    width: 300px;
    height: 150px;
    border-radius: 5px;
  }

  h1 {
    text-align: center;
  }

  a {
    text-decoration: none;
    padding: 0.5rem;
    color: white;
    background: rgb(6, 119, 144, 0.8);
    border-radius: 5px;
    text-align: center;
  }

  #project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    padding: 2rem 0;
    width: 40%;
    border: 1px solid rgb(6, 119, 144, 0.8);
    border-radius: 5px;

    @media screen and (max-width: 1024px) {
      width: 90%;
      margin: 0 auto 1rem auto;
    }
  }

  .project__presentation {
    background: rgb(6, 119, 144, 0.8);
    gap: 1rem;
    align-items: center;
    color: white;

    .wrap__img {
      display: flex;
      align-items: center;
      gap: 1rem;
      flex-wrap: wrap;
      justify-content: center;
      @media screen and (max-width: 1024px) {
        img {
          height: 8rem;
        }
      }
    }
    .presentation__content {
      text-align: justify;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      max-width: 70%;
    }
  }

  .rpg__game {
    gap: 2rem;

    .rpg__img {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      justify-content: center;
      align-items: center;
    }
    .rpg__presentation {
      text-align: justify;
      h1 {
        text-align: center;
        color: rgb(6, 119, 144, 0.8);
      }
      .rpg__p {
        display: flex;
        align-items: center;
        flex-direction: column;
        li {
          margin-left: 2rem;
        }
      }
    }
  }

  .first__portfolio {
    background: rgb(6, 119, 144, 0.8);
    color: white;
    gap: 2rem;
    justify-content: center;

    .top__portfolio {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 2rem;
    }

    .bot__portfolio {
      text-align: justify;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      max-width: 70%;
    }
  }

  @media screen and (max-width: 1024px) {
    font-size: 16px;
    h1 {
      font-size: 24px;
    }
    a {
      padding: 0.5rem;
    }
  }

  .slide__img {
    align-items: center;
    justify-content: center;

    h1 {
      text-align: center;
      color: rgb(6, 119, 144, 0.8);
    }

    .slide__link {
      text-align: center;
      margin: 1rem 0;
    }
    .slide__presentation {
      width: 70%;
      text-align: justify;
      margin: 0 auto;
      p {
        margin-top: 1rem;
      }
    }
  }
}
