.project__container {
  display: flex;
  flex-direction: column;
  img {
    width: 60%;
    max-width: 25rem;
  }
  h1 {
    color: crimson;
    text-align: center;
  }
  a {
    text-decoration: none;
    padding: 1rem;
    color: black;
    background-color: crimson;
    border-radius: 5px;
    text-align: center;
  }

  .bar {
    content: "";
    width: 10rem;
    height: 2px;
    background-color: crimson;
    margin: 2rem auto;
  }

  .project__presentation {
    background: url(/img/common-bg.svg);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding-bottom: 1rem;

    .wrap__img {
      display: flex;
      align-items: center;
      gap: 1rem;
      flex-wrap: wrap;
      justify-content: center;
      margin: 2rem;

      img {
        width: 40%;
        border-radius: 1rem;
        height: 15rem;
      }
      @media screen and (max-width: 1024px) {
        img {
          height: 8rem;
        }
      }
    }
    .presentation__content {
      text-align: justify;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      max-width: 70%;
    }
  }

  .rpg__game {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    img {
      width: 40%;
      border-radius: 1rem;
    }

    .rpg__img {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      justify-content: center;
      align-items: center;
    }
    .rpg__presentation {
      text-align: justify;
      h1 {
        text-align: center;
      }
      .rpg__p {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 1rem;
        li {
          margin-left: 2rem;
        }
      }
    }
  }

  .first__portfolio {
    background: url(/img/common-bg.svg);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-top: 1rem;

    img {
      width: 40%;
      border-radius: 1rem;
      margin-bottom: 1rem;
      min-width: 15rem;
      max-width: 25rem;
    }

    .top__portfolio {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 2rem;
    }

    .bot__portfolio {
      text-align: justify;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      max-width: 70%;
      margin-bottom: 5rem;
      h1 {
        margin-bottom: 1rem;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    font-size: 16px;
    h1 {
      font-size: 24px;
    }
    a {
      padding: 0.5rem;
    }
  }
}
