.footer__project {
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  @media screen and (max-width: 1024px) {
    font-size: 16px;
  }
}

.footer__home {
  margin-left: 1rem;
  text-align: center;
  padding: 1rem;
  width: 100%;
  @media screen and (max-width: 1024px) {
    font-size: 16px;
  }
  .footer__social {
    display: none;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;

    a {
      padding: 0.5rem;
      color: black;
      background-color: lightgray;
    }
    @media screen and (max-width: 1024px) {
      display: flex;
      gap: 1rem;
    }
  }
}
