header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 2rem;
  padding: 0 1rem;
  transition: 0.5s ease-out;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
  border-radius: 5px;

  .home {
    a {
      text-decoration: none;
      color: black;
      font-size: 24px;
      position: relative;
      text-decoration: none;

      &::after {
        content: "";
        width: 0%;
        height: 3px;
        background: crimson;
        position: absolute;
        left: 0;
        bottom: -6px;
        transition: 0.5s;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }

  .title__header {
    strong {
      color: crimson;
    }
  }

  .header__right {
    display: flex;
    gap: 3rem;
    align-items: center;
    cursor: pointer;
    font-size: 25px;

    img {
      border-radius: 50%;
      background-color: crimson;
    }
    .open__btn__menu {
      display: none;
      background-color: transparent;
      border-radius: 5px;
      scale: 1.5;
      border: none;
      transition: 0.3s;

      &:hover {
        scale: 1.1;
      }

      @media screen and (max-width: 1024px) {
        display: block;
      }
      @media screen and (min-width: 1024px) {
        display: none;
      }
    }
    .close__btn__menu {
      display: none;
      background-color: transparent;
      border-radius: 5px;
      scale: 1.5;
      border: none;
      transition: 0.3s;

      &:hover {
        scale: 1.1;
      }
      @media screen and (max-width: 1024px) {
        display: none;
      }
      @media screen and (min-width: 1024px) {
        display: none;
      }
    }
  }

  .menu__container {
    display: flex;
    gap: 1rem;

    .nav__menu {
      display: flex;
      list-style: none;
      gap: 3rem;
      animation: down 0.5s;

      a {
        text-decoration: none;
        color: black;
        font-size: 18px;
        position: relative;

        &::after {
          content: "";
          width: 0%;
          height: 3px;
          background: crimson;
          position: absolute;
          left: 0;
          bottom: -6px;
          transition: 0.5s;
        }

        &:hover::after {
          width: 100%;
        }
      }
      @media screen and (max-width: 1024px) {
        flex-wrap: wrap;
        gap: 1rem;
        display: none;
      }
    }
  }
  @media screen and (max-width: 1024px) {
    flex-direction: column;
  }
}

@keyframes down {
  to {
    transform: translateY(0);
  }
  from {
    transform: translateY(-10px);
  }
}
